/*
Program name- Cura Cardiology Clinic patient form.html 
Name- Daisy Que
date created-2/24/2026
version 1.0-2/24/26, 2.0-2/25/26,
Description- This document will be the css file to make the page look cleaner.
NOTE: I used the TP resources from MISSO but I used my own variables 
*/
header{
width:100%;
background-color:rgb(225,192,203); /* color:Pink, got this from W3 school HTML color section website*/  
}
body{
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color:rgb(250,250,210);
  margin:0;
  height:100%;
  min-height:100vh;
}
